# Ignore the input images dir
input_folder
.ipynb_checkpoints
.idea
.venv


# Ignore zip files named python.zip
python.zip

# Ignore zip files named python followed by a space and a number
python *.zip

# ignore the config files
/python/yolo/yolo_tiny_configs/
yolo_tiny_configs
yolo/yolo_tiny_configs
output

*/.DS_Store
aws_experiment_results.csv
aws_experiment_results_1000.csv

